Unity/Temp/*
Unity/Library/*
Unity/Assets/StreamedSceneBundles/*
build/*
Build/*
Builds/*
Unity/Assets/UnIDE/*

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj
*.unityproj
.DS_Store
*.DS_Store
 
!*.gitignore

Unity/screenshot.png
Unity/build_log.txt

*.sw*
!*.swf

Unity/Assets/Ad-Dispatch/Resources/uiscenes.txt
*.apk
Unity/Assets/UnIDE.meta

Unity/Assets/StreamingAssets/QCAR/unity.txt
Unity/Assets/StreamingAssets/QCAR/unity.txt.meta

